.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    min-width: 700px;
    margin: 0 auto;
}

.header .logo h1 {
    margin: 0;
    font-size: 24px;
}

.header .nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.header .nav a:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    align-items: center;

}

.logo-image {
    height: 30px; 
    vertical-align: middle;
    
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}